body{

    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-self: center;
}

.banner1,.banner2,.banner3,.banner4{

    height: 10vh;
    width: 80%;
    position: absolute;
    left: auto;
    top:115px;
    
}
img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 300%;
    transform: translate(-50%,-50%);
    animation: zoom-out 30s linear infinite;
    border-radius: 30px;
}

@keyframes zoom-out {
    100%{
        width: 100%;
    }
}
.text-box{
    width: 60%;
    position: absolute;
    top: 0px;
    right: 0;
    color: #fff;
    animation: textup 30s linear infinite;
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
}
.text-box h1{
    margin-bottom: 40px;  
}
.text-box p{
    font-size:  14px;
    line-height: 18px;
    margin-top: 80xp;
}
.text-box spam{
    background: red;
    height: 1px;
    width: 100px;
    position: absolute;
    right: 0;
}
.banner1{
    animation: slide1 30s linear infinite;
}
.banner2{
    animation: slide2 30s linear infinite;
}
.banner3{
    animation: slide3 30s linear infinite;
}
.banner4{
    animation: slide4 30s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }  
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    } 
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
    
}
@keyframes textup{
    10%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 30s;
}
.text-box3{
    animation-delay: 60s;
}
.text-box4{
    animation-delay: 90s;
}