@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Passion One', sans-serif;
    box-sizing: border-box;
}
.backicn{
    height: 80px;
    background: #000;
    transform: scaleX(-1);
    display: flex;
    justify-content: end;
    align-items: center;

}
.slide-container{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: #000;
}
.slider{
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 10px;
    background: #000000;
}
.slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
}
.slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 30px;
}
.slider .slide .text{
    position: absolute;
    width: 650px;
    top: 0;
    right: 0;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    border: solid #000 1px;
}
.slider .slide .text h1{
    color: #fff;
    font-size: 45px;
    display: flex;
    justify-content: center;

}
.slider .slide .text p{
    color: #fff;
    font-size: 20px;
}

.box1{
    animation: slide1 30s linear infinite;
}
.box2{
    animation: slide2 30s linear infinite;
}
.box3{
    animation: slide3 30s linear infinite;
}
.box4{
    animation: slide4 30s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

.navigation{
    background: #000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    transform: tramslateX(-50%);
    z-index: 1;
}

.navigation a{
    border-radius: 50%;
    margin: 40px;
    margin-top: -40px;
    opacity: 0.75;
    transition: opacity ease 250ms;
}   